/******************************
      LAYOUT/FLEX STYLES
********************************/

.messages-container {
  display: flex;
  flex: auto;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.fixed-messages-header {
  flex: none;
  height: 10%;
}

.messages-overflow-container {
  height: 80%;
  flex: auto;
  overflow-y: auto;
}

.scrolling-messages-list {
  display: flex;
  flex: auto;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
  overflow: auto;
}

.scrolling-messages-list ul {
  display: flex;
  flex-direction: column-reverse;
  margin-left: .5em;
}

.fixed-messages-footer {
  flex: none;
  height: 10%;
}

.fixed-messages-footer form {
  display: flex;
  align-items: center;
}

.message-input {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 5px;
  padding-bottom: 0;
  resize: none;
}

#message-form input[type=submit] {
  margin-right: .5em;
  margin-top: .5em;
  margin-bottom: .5em;
  padding: 10px;
}

/******************************
      CONTAINER STYLES
*******************************/

.messages-container {
  border: 1px solid grey;
}

/******************************
      STICKY ROOM NAME-HEADER
*******************************/

.fixed-messages-header {
  font-size: 1.35rem;
  font-weight: lighter;
  border-bottom: 1px solid #d6d6d6;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e6e6e6;
}

/*****************************
        LIST STYLES
******************************/

.scrolling-messages-list ul li {
  padding-bottom: .5em;
  max-width: 40%;
}

/********************************
        MESSAGE BUBBLES/CONTENT
*********************************/

.send-message-bubble {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 45%;
  flex-wrap: wrap;
  margin-right: 1.75em;
}

.receive-message-bubble {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  max-width: 45%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 1em;
}

.send-message-content {
  border: 1px solid rgb(60, 126, 216);
  background: rgb(164, 194, 244);
  max-width: 95%;
  font-size: 1.25em;
  padding: 10px 15px;
}

.receive-message-content {
  border: 1px solid grey;
  background: #e6e6e6;
  max-width: 95%;
  font-size: 1.25em;
  padding: 5px 10px;
}

.message-username, .message-timestamp {
  font-size: .85em;
}

/******************************
        STICKY MESSAGE FORM
*****************************/

.fixed-messages-footer {
  border-top: 1px solid #d6d6d6;
}

.message-input {
  font-size: 1.25em;
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
}

#message-form input[type=submit] {
  width: 10%;
  font-size: 1.25em;
  background: #e6e6e6;
  font-weight: lighter;
  margin-right: .5em;
  /* padding: 10px; */
}
