/******************************
      LAYOUT/FLEX STYLES
********************************/

.messages-container {
  display: flex;
  flex: auto;
  flex-direction: column;
  max-height: 100%;
  width: 100%;
}

.fixed-messages-header, .fixed-messages-footer {
  flex: none;
  height: 3em;
}

.scrolling-messages-list {
  display: flex;
  flex-direction: column;
  flex: auto;
  overflow-y: auto;
  justify-content: flex-end;
}


/******************************
      CONTAINER STYLES
*******************************/

.messages-container {
  border: 1px solid grey;
}

/******************************
      STICKY ROOM NAME-HEADER
*******************************/

.fixed-messages-header {
  font-size: 1.35rem;
  font-weight: lighter;
  border-bottom: 1px solid #d6d6d6;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e6e6e6;
}

/*****************************
        LIST STYLES
******************************/

.scrolling-messages-list ul {
  display: flex;
  flex-direction: column;
  margin-left: .5em;
  margin-top: 0;
  overflow-y: auto;
}

.scrolling-messages-list ul li {
  padding-bottom: .5em;
  max-width: 40%;
}

/********************************
        MESSAGE BUBBLES/CONTENT
*********************************/

.send-message-bubble {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 45%;
  flex-wrap: wrap;
  margin-right: 1em;
}

.receive-message-bubble {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  max-width: 45%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 1em;
}

.send-message-content {
  border: 1px solid blue;
  max-width: 95%;
  font-size: 1.25em;
  padding: 5px 10px;
}

.receive-message-content {
  border: 1px solid grey;
  max-width: 95%;
  font-size: 1.25em;
  padding: 5px 10px;
}

.message-username, .message-timestamp {
  font-size: .85em;
}

/******************************
        STICKY MESSAGE FORM
*****************************/

.fixed-messages-footer {
  border-top: 1px solid #d6d6d6;
}

.fixed-messages-footer form {
  display: flex;
}

.message-input {
  width: 90%;
  font-size: 1.25em;
  font-weight: lighter;
  padding: 10px 10px;
}

#message-form input[type=submit] {
  width: 10%;
  font-size: 1.25em;
  background: #e6e6e6;
  font-weight: lighter;
  padding: 5px 10px;
}
