/******************************
      LAYOUT/FLEX STYLES
********************************/

.rooms-list-container {
  display: flex;
  flex: auto;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  width: 100%;
}

.fixed-rooms-header, .fixed-rooms-footer {
  flex: none;
  height: 3em;
}

.scrolling-rooms-list {
  display: flex;
  align-items: flex-start;
  flex: auto;
  overflow-y: auto;
}

/******************************
      CONTAINER STYLES
********************************/


.rooms-list-container {
  background: rgb(164, 194, 244);
  color: white;
  border-top: 1px solid grey;
}

/******************************
      CHAT ROOOM HEADER
********************************/


.fixed-rooms-header h3 {
  font-size: 2em;
}


/******************************
      ROOM LIST
********************************/



.scrolling-rooms-list ul {
  padding: 0;
  display: flex;
  font-size: 1.35em;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.scrolling-rooms-list ul li {
  border: 1px solid #d6d6d6;
  padding: 5px 10px;
  margin: .5em;
  background: rgb(60, 126, 216);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

 /******************************
        NEW ROOM FORM
********************************/

.fixed-rooms-footer {
  text-align: center;
}

.fixed-rooms-footer input {
  font-size: 1em;
  overflow-x: scroll;
}

.fixed-rooms-footer input[type=text] {
  background: none;
  color: rgb(153, 153, 153);
  border: none;
  border-bottom: 1px solid rgb(153, 153, 153);
}

.fixed-rooms-footer input[type=text]:focus {
  outline: none;
  color: black;
  border-bottom: 1px solid black;
}

.fa-plus-circle {
  color: rgb(67, 67, 67);
}
